@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* Nav Bar */

.title-brand {
    width: 164px;
    height: 27px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-top: 12px;
    margin-left: 26px;
    color: #FFFFFF;
}

.logos {
    margin-left: 1em;
    display: flex;
}

.logo {
    width: 2em;
    align-self: center;
    height: 2.4em;
}

.brand {
    align-self: center;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    height: 61px;
    left: 0px;
    top: 0px;
    background: #0D3451;
    display: flex;
    justify-content: space-between;
}

.label ul {
    display: flex;
    list-style-type: None;
}

.label ul li {
    color: #FFFF;
    font-size: 0.7em;
    margin: 0.5em;
    align-self: center;
}


/* Container */

.main-container {
    border: #E0DEDE;
    display: flex;
    width: 70vw;
    height: 70vh;
    margin-left: 15vw;
    margin-top: 4vh;
    justify-content: center;
    border: 1px solid #E0DEDE;
}

.left-side {
    width: 20vw;
    background: #E2EDFF;
    text-align: center;
}

.left-side img {
    margin-top: 2vh;
    width: 10vw;
    border-radius: 50%;
}

.right-side {
    padding-left: 2em;
    padding-right: 2em;
    width: 60vw;
}

.blue {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #0D3451;
    border-bottom: 1px solid #E0DEDE;
    font: bold;
}

form {
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    margin: 1.5em 0em;
}

.form-inputs label {
    font-size: 0.9em;
    color: #343C82;
}

.form-inputs input {
    border: 1px solid #787373;
    border-radius: 2px;
    margin-top: 0.5em;
    padding: 0.5em 0em 0.5em 0.5em;
    width: 20vw;
    color: #343C82;
}

.buttons {
    text-align: center;
    justify-content: space-around;
}

.buttons input {
    background: #3062AD;
    border: none;
    width: 18vw;
    padding: 0.7em 0em;
    border-radius: 50px;
    color: #FFFFFF;
    margin: 0em 2em;
    margin-bottom: 2em;
}

.buttons input:focus {
    outline: none;
}

.buttons input:hover {
    cursor: pointer;
}

.form-inputs input:focus {
    border: none;
    outline: 2px solid #F67A06;
}


/* footer */

.footer {
    position: absolute;
    width: 100%;
    height: 44px;
    left: 0px;
    bottom: 0px;
    margin-top: 96vh;
    background: #F3F3F3;
}

.footer ul {
    display: flex;
    list-style-type: none;
    font-size: 0.5em;
    margin-left: 50vw;
}

.footer ul li {
    margin: 1em 0.5em;
}

.flex h4 {
    margin-left: 0.5em;
}

.center {
    margin-top: 6em;
}

input[type="submit"] {
    background: #343C82;
    border-radius: 50px;
    width: 13em;
    height: 3em;
    border: none;
    color: #FFFF;
}

input[type="button"] {
    background: #343C82;
    border-radius: 50px;
    width: 13em;
    height: 3em;
    border: none;
    color: #FFFF;
}